
  <div class="row-fluid">
    <div class="span12">
      <div class = "org_circle circ" ><a href="/login">c.USTOMER</a></div>
      <div class = "cal_circle circ" ><a href="https://www.google.com/calendar/embed?src=qetsbt61e7bjh7iagu50tvia1c%40group.calendar.google.com&ctz=Australia/Sydney">r.ELATIONSHIP</a></div>
      <div class = "people_circle circ"><a href="/login">m.ANAGEMENT</a></div>
    </div>
  </div>
