  <div class="row-fluid">
    <div class="span4">

      <table class="table">
        <tr>
          <td>sdfasdf<td><td>sdfasdf<td><td>sdfasdf<td>
        </tr>

        <tr>
          <td>sdfasdf<td><td>sdfasdf<td><td>sdfasdf<td>
        </tr>
        <tr>
          <td>sdfasdf<td><td>sdfasdf<td><td>sdfasdf<td>
        </tr>
        <tr>
          <td>sdfasdf<td><td>sdfasdf<td><td>sdfasdf<td>
        </tr>
        <tr>
          <td>sdfasdf<td><td>sdfasdf<td><td>sdfasdf<td>
        </tr>

      </table>
    </div>
    <div class="span8" style="background: yellow;">...</div>
  </div>

