.people_circle {
  margin-left: 10px;
  border-radius: 50%;
  display: inline-block;
  width: 330px;
  height: 330px;
  background-color: #F06BDF;
  font-family: LATO; sans-serif;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  vertical-align: center;
  line-height: 50px;
  cursor: pointer;
}
.org_circle {
  margin-left: 100px;
  border-radius: 50%;
  display: inline-block;
  width: 330px;
  height: 330px;
  background-color: #570D4E;
  font-family: LATO; sans-serif;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.cal_circle {
  margin-left: 10px;
  border-radius: 50%;
  display: inline-block;
  width: 330px;
  height: 330px;
  background-color: #9467BD;
  font-family: LATO; sans-serif;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.circ:hover {
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -webkit-transform: scale(0.8);
  - text-decoration: none;
}
.circ a {
  top: 40%; position: relative;
  color: white;
  outline-color: white;
  vertical-align: center;
  margin-left: 10px;
}

body {
}

/*.row {
background-color: #570D4E;
width: 100%;
color: white;
text-decoration: none;
}
*/
a.image-link:focus { outline: 0; }

a:hover, a:visited, a:active {
  background-color: transparent;
}

/*NAVIGATION BAR STYLINGS*/

/*.site_nav {
  text-align: right;
  float: left;
  width: 48%;
}

.site_nav li {
  list-style: none;
margin-left: 2%;
margin-right: 5%;
}
*/
/*.acct_nav {
  text-align: left;
  float: left;
  width: 48%;
  margin-left: 2%;
}

.acct_nav li {
  list-style: none;
  margin-left: -2%;
  margin-right: 5%;
}
*/

.calendar {
margin: 20px;
float: right;
}

.event_notes {
float: right;
}

.form_viewer {
margin-bottom: 50px;
}
.form_b {
  display: block;
  margin-top: 10px;
  margin-left: 50px;
}

.form_a {
  display: block;
  margin-top: 10px;
  margin-left: 50px;
  border: 1px solid grey;

}
